
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/fonts/StyleSheet2.css" rel="stylesheet" />
<div class="background"></div>
    <div class="background-texture"></div>
    <section class="carousel">
      <h2 class="categories__title">My List</h2>
      <div class="carousel__container">
          <div class="carousel-item">
              <img class="carousel-item__img"
                     src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">
                  <h5 class="carousel-item__details--title">@ViewBag.d1</h5>
                  <h6 class="carousel-item__details--subtitle">Cari</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.d2</h5>
                  <h6 class="carousel-item__details--subtitle">Urun</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.d3</h5>
                  <h6 class="carousel-item__details--subtitle">Personel</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                  src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg4</h5>
                  <h6 class="carousel-item__details--subtitle">Kategori Sayısı</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                  src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg5</h5>
                  <h6 class="carousel-item__details--subtitle">Stok Sayısı</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                    src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg6</h5>
                  <h6 class="carousel-item__details--subtitle">Kritik Stok Sayısı</h6>
              </div>
          </div>

          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg7</h5>
                  <h6 class="carousel-item__details--subtitle">Marka</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                     src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg8</h5>
                  <h6 class="carousel-item__details--subtitle">En pahalı Marka</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
          
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg10</h5>
                  <h6 class="carousel-item__details--subtitle">Hesaptaki Toplam Para</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg11</h5>
                  <h6 class="carousel-item__details--subtitle">Bugun Satışlar</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg12</h5>
                  <h6 class="carousel-item__details--subtitle">En cok satılan Marka</h6>
              </div>
          </div>
          <div class="carousel-item">
              <img class="carousel-item__img"
                   src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                   alt="people" />
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg13</h5>
                  <h6 class="carousel-item__details--subtitle">En cok satılan Urun</h6>
              </div>
              <div class="carousel-item__details">

                  <h5 class="carousel-item__details--title">@ViewBag.dg14</h5>
                  <h6 class="carousel-item__details--subtitle">Bugun yapılan Satış toplamı</h6>
              </div>
          </div>
      </div>
    </section>





