@using TicariOtamasyon.Models.Sınıflar
@model List<Urun> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Urun</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>SİL</th>
        
    </tr>
    @foreach (var u in Model) { 
    <tr>
        <td>@u.Urunid</td>
        <td>@u.UrunAd</td>
        <td>@u.Marka</td>
        <td>@u.Stok</td>
        <td>@u.AlısFiyat</td>
        <td>@u.SatısFiyat</td>
        <td>@u.Kategori.KategoriAd</td>
       <td><a href="/Urun/UrunSil/@u.Urunid" class="custom-btn btn-8" style="text-align:center" >SİL</a></td>
       <td><a href="/Urun/UrunGetir/@u.Urunid" class="custom-btn btn-9" style="text-align:center">Güncelle</a></td>
    </tr>
    
    
    
    }
</table>
<a href="/Urun/YeniUrun" class="btn btn-danger" >Yeni Urun Ekle</a>

