@using TicariOtamasyon.Models.Sınıflar
@model List<SatısHareket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
<h2></h2>
<table id="tbl1" class="table table-bordered" style="margin-top:20px">

    <thead>
        <tr>
            <th>ID</th>
            <th>Tarih</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Cari</th>
            <th>Toplam Tutar</th>
            <th>Urun</th>
            <th>Satan Kişi</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.SatisID</td>
            <td>@u.Tarih</td>
            <td>@u.Adet</td>
            <td>@u.Fiyat</td>
            <td>@u.Cari.CariAd</td>
            <td>@u.ToplamTutar</td>
            <td>@u.Urun.UrunAd</td>
            <td>@u.Personel.PersonelAd @u.Personel.PersonelSoyad</td>
        </tr>
    }
</table>
<a href="/CariPanel/Yazdır" class="custom-btn btn-9" >Yazdır</a>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>


