@using TicariOtamasyon.Models.Sınıflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
<br />

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Urun</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Alış Fiyat</th>
            <th>Durum</th>
            <th>Urun Görsel</th>
            <th>Satış Fiyat</th>
            <th>Kategori</th>
            <th>Urun Detay</th>

        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Urunid</td>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlısFiyat</td>
            <td>@u.Durum</td>
            <td>@u.UrunGorsel</td>
            <td>@u.SatısFiyat</td>
            <td>@u.Kategori.KategoriAd</td>

            <td><a href="/UrunCari/UrunDetay/@u.Urunid" class="custom-btn btn-9" style="text-align:center">Urun Detay</a></td>

        </tr>



    }
</table>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>




<a href="/Urun/UrunListesi" class="btn btn-danger">Pdf~Excel</a>



