@using TicariOtamasyon.Models.Sınıflar
@model List<Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
<h2>Index</h2>
<table class=" table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
       </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Cariid</td>
                    <td>@x.CariAd</td>
                    <td>@x.CariSoyad</td>
                    <td>@x.CariMail</td>
                    <td>@x.CariSehir</td>
                    <td><a href="/Cari/CariSil/@x.Cariid" class="custom-btn btn-6" style="text-align:center">Sil</a></td>
                    <td><a href="#" class="custom-btn btn-9" style="text-align:center" >Güncelle</a></td>
                    <td><a href="#" class="custom-btn btn-8"  style="text-align:center">Detaylar</a></td>

                </tr>
            }

</table>
<a href="/Cari/YeniCari/" class="custom-btn btn-15">Yeni Kayıt</a> 