@using TicariOtamasyon.Models.Sınıflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>#</th>
            <th>Açıklama</th> 
            <th>TakipKodu</th>
            <th>Personel</th>
            <th>Alici</th>
            <th>Tarih</th>
         


        </tr>
    </thead>
    @foreach(var x in Model) { 
    <tr>
    <td>@x.KargoDetayID</td>
    <td>@x.Acıklama</td>
    <td>@x.TakipKodu</td>
    <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
    <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
    <td>@x.Tarih</td>
   

    </tr>



    }
</table>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>



<a href="/Kargo/YeniKargo" class="btn btn-warning">Yeni Kargo Ekle</a>
<a href="/Urun/UrunListesi" class="btn btn-danger">Pdf~Excel</a>



